/* Size for mobile version */
@media (max-width:480px) {
   .header {
      display: flex;
      justify-content: space-between;
   }

   .HeaderText {
      display: none;
   }

   .headerButtons {
      display: flex;
      gap: 30px;
   }

}

/* Size for mobile version */
@media ((min-width:481px) and (max-width:580px)) {
   .header {
      display: flex;
      justify-content: space-between;
   }

   .HeaderText {
      display: none;
   }

   .HeaderLogoInfo {
      display: flex;
      gap: 20px;
   }

   .headerButtons {
      display: flex;
      gap: 30px;
   }
}

/* Size for mobile version */
@media screen and ((min-width:581px) and (max-width:720px)) {
   .header {
      display: flex;
      justify-content: space-between;
   }

   .HeaderText {
      display: flex;
      align-items: center;
      color: white;
      text-decoration: none;
      font-size: 150%;
   }

   .HeaderLogoInfo {
      display: flex;
      gap: 20px;
   }


   .headerButtons {
      display: flex;
      gap: 30px;
   }
}

/* Size for laptop version */
@media screen and (min-width:721px) {
   .header {
      display: flex;
      justify-content: space-around;
      gap: 20%
   }

   .HeaderText {
      display: flex;
      align-items: center;
      color: white;
      text-decoration: none;
      font-size: 150%;
   }


   .HeaderLogoInfo {
      display: flex;
      gap: 20px;
   }


   .headerButtons {
      display: flex;
      gap: 30px;
   }
}