/* Size for mobile version */
@media (max-width:480px){
    .input-group {
        display: none;
    }
    .badge{
        display: none;
    }
    .headerInfo{
        height: 150px;
    }
    .card{
        flex-basis:45%;
       
    }
   
}


