
.headerInfo {
    display: flex;
    height: 300px;
    z-index: 1;
    position: absolute;
}

/* Size for mobile version */
@media (max-width:480px){
    .headerInfo{
        height: 150px;
    }

    

}


/* Size for mobile version */
@media screen and ((min-width:481px) and (max-width:720px)) {
    

    

}

/* Size for laptop version */
@media screen and (min-width:721px) {
 

}